.navbar {
    display: flex;
    justify-content: center;
    background-color: #06113C;
}

.listItems {
    display: flex;
    list-style-type: none;
}

.listItems li a {
    margin-right: 3rem;
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none
}

.link{
    text-decoration: none
}