.trendingSection {
    display: flex;
    justify-content: center;
}

.trendingCard {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
}

.trendingCardSelected {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
}

.trendingCardMovieTitle{
    font-weight: bold;
    font-size: small;
}

.coverImage {
    border: 2px solid #06113C;
    border-radius: 0.5rem;
}

.anchor {
    text-decoration: none;
}

.movieSliderContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    color: white;
    background: linear-gradient(0deg, rgba(6,17,60,0.7021009087228641) 100%, rgba(253,187,45,1) 100%);
}

.movieSliderMovieTitle{
    font-size: xxx-large;
    margin-bottom: 5rem;
}

.movieSliderTitles{
    font-weight: bold;
    font-size: x-large;
}

.movieSliderOverview {
    max-width: 50rem;
    font-size: large;
    margin-bottom: 3rem;
}

.personImage {
    border-radius: 50%;
}